.event-card {
    margin: 24px;
    padding: 12px;
}

.event-card h1 {
    text-align: center;
    margin-bottom: 18px;
}

.date-range {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.schedule, .event-contact {
    margin: 12px auto;
    padding: 12px 18px;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
}
