.calendar-parent {
    margin: 24px;
}

.calendar-parent h1 {
    width: 80%;
    margin: 2px auto;
    margin-bottom: 14px;
    text-align: center;
}

.calendar-landing {
    display: grid;
    grid-template-columns: 75% 12px auto;
    width: 100%;
}

.calendar-header {
    display: flex;
    flex-direction: row;
}

.calendar-space {
    grid-column: 1 / 2;
}